<!DOCTYPE html>
<html>
<head>
<title>Rippy - CS</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel='stylesheet' href='https://fonts.googleapis.com/css?family=Roboto'>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link rel="stylesheet" href="../css/main.css">
<style>
html,body,h1,h2,h3,h4,h5,h6 {font-family: "Roboto", sans-serif}
</style>
</head>
<body class="w3-light-grey">


  <div id="topnav" class="topnav">
    <a href="/">Home</a>
    <a href="#news">News</a>
    <a href="#contact">Contact</a>
    <a href="#about">About</a>
    <a href ="/spotify-api">Spotify</a>
    <a class="active" href ="/compsci">Computer Science</a> 
    <a href ="/math">Mathematics</a> 
    <a href ="/physics">Physics</a>    
    <!-- <a href="/music">Music</a> -->
  </div>
<!-- Page Container -->
<div class="w3-content w3-margin-top" style="max-width:1400px;">

  <!-- The Grid -->
  <div class="w3-row-padding">
  
    <!-- Left Column -->
    <div class="w3-third">
    
      <div class="w3-white w3-text-grey w3-card-4">
        <div class="w3-display-container">
          <img src="../images/mikuheadshot.png" style="width:100%" alt="Avatar">
          <div class="w3-display-bottomleft w3-container w3-text-black">
          </div>
        </div>
        <div class="w3-container">
          <h2>Hatsune Miku</h2>
          <p><i class="fa fa-briefcase fa-fw w3-margin-right w3-large w3-text-teal"></i>Computer Scientist</p>
          <p><i class="fa fa-home fa-fw w3-margin-right w3-large w3-text-teal"></i>Sarasota, FL</p>
          <p><i class="fa fa-envelope fa-fw w3-margin-right w3-large w3-text-teal"></i>arippy@andrew.cmu.edu</p>
          <p><i class="fa fa-phone fa-fw w3-margin-right w3-large w3-text-teal"></i>651-272-0025</p>
          <hr>

          <p class="w3-large"><b><i class="fa fa-asterisk fa-fw w3-margin-right w3-text-teal"></i>Coding Languages</b></p>
          <p>Python</p>
          <p>C/C++</p>
          <p>HTML/JS</p>

          <p class="w3-large"><b><i class="fa fa-asterisk fa-fw w3-margin-right w3-text-teal"></i>Skills</b></p>
          <p>Public Speaking</p>
          <p>Team Player</p>
          <p>Familar with Unix-based OS</p>
          <p>Familar with Streaming</p>
          <p>Novice Android Developer</p>
          <p>Novice Amazon Web Services</p>
          <!-- <br> -->

          <p class="w3-large w3-text-theme"><b><i class="fa fa-globe fa-fw w3-margin-right w3-text-teal"></i>Languages</b></p>
          <p>English</p>
          <p>Spanish</p>
          <!-- <br> -->
          <p class="w3-large"><b><i class="fa fa-asterisk fa-fw w3-margin-right w3-text-teal"></i>Classes</b></p>
          <p>Distributed Systems</p>
          <p>Logical Foundations for Cyber Physical Systems</p>
          <p>Machine Learning</p>
          <p>Intro to Cybersecurity</p>
          <p>Secure Software Systems</p>
          <p>AI For Social Good</p>
          <p>Operating Systems</p>
          <p>Stochastic Simulation</p>
          <p>Algorithm Analysis</p>
          <p>Theory of Programming</p>
          <p>Theory of Computing</p>
          <p>Machine Organization</p>
          <p>Retro Computing</p>
          <p>Data Structures</p>



        </div>
      </div><br>

    <!-- End Left Column -->
    </div>

    <!-- Right Column -->
    <div class="w3-twothird">
    
      <div class="w3-container w3-card w3-white w3-margin-bottom">
        <h2 class="w3-text-grey w3-padding-16"><i class="fa fa-suitcase fa-fw w3-margin-right w3-xxlarge w3-text-teal"></i>Work Experience</h2>
        <div class="w3-container">

          <!-- <span class="w3-tag w3-teal w3-round">Current</span> -->

          <h5 class="w3-opacity"><b>Developer / PixelFly / Motion</b></h5>
          <h6 class="w3-text-teal"><i class="fa fa-calendar fa-fw w3-margin-right"></i>June 2023 - September 2023</h6>
          <p>Worked with a 4 man team as head devloper. Worked with Android Programming devloping a streaming application, Drone Streaming and a Jetson Nano (HLS&RTMP Streaming), Amazon Web Services (Streaming Server)</p>
          <a href="https://pixelflylive.com/">Pixelfly Website</a>
          
          <hr>
        </div>

        <div class="w3-container">
          <h5 class="w3-opacity"><b>Computer Science QSC Tutor / Wabash College</b></h5>
          <h6 class="w3-text-teal"><i class="fa fa-calendar fa-fw w3-margin-right"></i>Aug 2021 - May 2022</h6>
          <p>Taught and Tutorer Computer Science for the Wabash College Quantative Skills Center.</p><br>
        </div>

        <div class="w3-container">
          <h5 class="w3-opacity"><b>Cybersecurity REU / Montana State University </b></h5>
          <h6 class="w3-text-teal"><i class="fa fa-calendar fa-fw w3-margin-right"></i>May 2021 - Aug 2021</h6>
          <p> Researched and developed malware detection techniques with Shyla Sharma. Gave college-wide colloquium presenting the research. Applied machine learning graph embedding techniques and clustering algorithms to more accurately detect malware binaries from benign binaries</p>
          <hr>
        </div>

        <div class="w3-container">
          <h5 class="w3-opacity"><b>Computer Explorers Teacher / Computer Explorers</b></h5>
          <h6 class="w3-text-teal"><i class="fa fa-calendar fa-fw w3-margin-right"></i>Jun 2019 - Aug 2019</h6>
          <p>Worked with kids 3rd - 9th grade and taught Java Programming, Unity Programming, Movie Making, Lego Engineering Physics</p><br>
        </div>
      </div>

      <div class="w3-container w3-card w3-white">
        <h2 class="w3-text-grey w3-padding-16"><i class="fa fa-certificate fa-fw w3-margin-right w3-xxlarge w3-text-teal"></i>Education</h2>
        <div class="w3-container">
          <h5 class="w3-opacity"><b>Carnegie Mellon University</b></h5>
          <h6 class="w3-text-teal"><i class="fa fa-calendar fa-fw w3-margin-right"></i>2022 - 2025</h6>
          <p>Master Degree</p>
          <hr>
        </div>
        <div class="w3-container">
          <h5 class="w3-opacity"><b>Wabash College Computer Science, Physics, Math Triple Major</b></h5>
          <h6 class="w3-text-teal"><i class="fa fa-calendar fa-fw w3-margin-right"></i>2018 - 2022</h6>
          <p>Bachelor of Arts Degree</p>
          <p>Summa Cum Laude</p>
          <p>Phi Beta Kappa</p>
          <p>Sigma Pi Sigma</p>

        </div>
      </div>

      <br>
      <div class="w3-container w3-card w3-white">
        <h2 class="w3-text-grey w3-padding-16"><i class="fa fa-certificate fa-fw w3-margin-right w3-xxlarge w3-text-teal"></i>Papers</h2>
        
        
        <div class="w3-container">
          <h5 class="w3-opacity"><b>AI For Social Good, Mental Health</b></h5>
          <h6 class="w3-text-teal"><i class="fa fa-calendar fa-fw w3-margin-right"></i>May 2023</h6>
          <p>Mental disorder triggers and trauma triggers often come without warning when users browse the Internet. For many of
            these users, reading triggering content may cause them to respond very severely and potentially worsen their disorder or
            trauma. As online content is an integral part of our lives, it is
            critical that we limit triggering content to lessen the harmful
            impact on those with mental disorder and trauma sensitivities. The areas of detecting triggering topics still have yet to
            be widely covered. In this study, we aim to create a mental disorder-triggering and trauma-triggering content detection model that covers a wide range of related topics, using
            data from Reddit, and we experiment with multiple models,
            including a SVM model and a BERT model. The application
            of the model is to deploy it as an extension of a web browser,
            specifically Chrome, to ensure safe content consumption for
            users, by their choice.</p>

          <a href="../projects/computerscience/papers/AI4SG_Paper.pdf" download>AI For Social Good Paper</a>


          <hr>
        </div>
        
        <div class="w3-container">
          <h5 class="w3-opacity"><b>Applications of Graph Embedding Techniques to Malware</b></h5>
          <h6 class="w3-text-teal"><i class="fa fa-calendar fa-fw w3-margin-right"></i>August 2021</h6>
          <p>This research looks at how we can express program binaries as graph embeddings in an effort to
            find malware. We considered three graph embedding methods: graph2vec, GL2Vec, and LDP, in
            addition to three clustering methods, K-Means, DBSCAN, and Agglomerative Clustering. From the
            experiments conducted, we determined that graph2vec coupled with the K-means clustering method,
            was the best overall graph embedding method. These results showed clusters of program binaries
            that, despite the randomness added in to the base program, retained defining feature components.</p>

          <a href="../projects/computerscience/papers/Applications_of_Graph_Embedding_Techniques_to_Malware.pdf" download>Malware Paper</a>


          <hr>
        </div>



        <div class="w3-container">
          <h5 class="w3-opacity"><b>An Introduction to Quantum Computing and its Applications</b></h5>
          <h6 class="w3-text-teal"><i class="fa fa-calendar fa-fw w3-margin-right"></i>May 2022</h6>
          <p>Quantum Computing is emerging as a powerful tool to solve certain problems. This paper will
            endeavor to give an introduction to what exactly quantum computing is, with both the high level
            ideas compared to what we currently use for computing, and the Math and Computer Science
            needed to understand it. It will also discuss several applications of Quantum computing.</p>

          <a href="../projects/computerscience/papers/Quantum_Paper_1.pdf" download>Quantum Computing Paper</a>


          <hr>
        </div>

        <div class="w3-container">
          <h5 class="w3-opacity"><b>Quantum Computing: Finding a Quantum Analog to a Classical
            Algorithm</b></h5>
          <h6 class="w3-text-teal"><i class="fa fa-calendar fa-fw w3-margin-right"></i>May 2022</h6>
          <p>This paper will endeavor to show a quantum analog to the traveling salesman problem, an NP
            problem which proves to be exceedingly difficult to solve in reasonable time classically. Can we
            even utilize quantum computing to solve a NP-Hard problem in a more efficient manner? The
            answer is yes, we can, and this paper will describe a circuit that can do so.</p>

          <a href="../projects/computerscience/papers/Quantum_Paper_2.pdf" download>Quantum Computing Classical System</a>


          <hr>
        </div>
        
        <div class="w3-container">
          <h5 class="w3-opacity"><b>A CUDA Tutorial</b></h5>
          <h6 class="w3-text-teal"><i class="fa fa-calendar fa-fw w3-margin-right"></i>May 2022</h6>
          <p>CUDA stands for Compute Unified Device Architecture, and it is a parallel computing
            platform and API. It allows for very quick parallel vector computations. It is commonly
            utilized for videogames on GPUs to speed up the many vector calculations required for the
            games to run effectively. It is owned, distributed, and created by NVIDIA, who are well
            known for their creation of graphics cards. The language is designed to work well with
            C,C++. and Fortran. While there exists libraries to connect CUDA to languages such
            as python, it suffers noticeable slow down from conversion to the other languages it was
            not originally intended to work with. CUDA is the preferred platform to work with when
            compared to prior platforms like Direct3D or OpenGL due to the significant ease of access
            compared to the aforementioned options.</p>

          <a href="../projects/computerscience/papers/CUDA_Writeup.pdf" download>Quantum Computing Classical System</a>


          <hr>
        </div>

    <!-- End Right Column -->
    </div>
    
  <!-- End Grid -->
  </div>
  
  <!-- End Page Container -->
</div>

<footer class="w3-container w3-teal w3-center w3-margin-top">
  <p>Find me on social media.</p>
  <i class="fa fa-facebook-official w3-hover-opacity"></i>
  <a href="https://www.facebook.com/andrew.rippy.3">Facebook</a>

  <i class="fa fa-instagram w3-hover-opacity" ></i>
  <a href="https://www.instagram.com/andrew_rippy/">Insta</a>
  <i class="fa fa-snapchat w3-hover-opacity"></i>
  <a>andrewrippy</a>
  <!-- <i class="fa fa-pinterest-p w3-hover-opacity"></i> -->
  <!-- <i class="fa fa-twitter w3-hover-opacity"></i> -->
  <i class="fa fa-linkedin w3-hover-opacity"></i>
  <a href="https://www.linkedin.com/in/andrewrippy">Linkedin</a>
  <p>Powered by <a href="https://www.w3schools.com/w3css/default.asp" target="_blank">w3.css</a></p>
</footer>

</body>
</html>