<!DOCTYPE html>
<html>
<head>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
    <link rel="stylesheet" href="../css/main.css">
<style>
      .main {
        display: flex;
        padding: 10px;
    }
</style>



</head>
<body>

    <div id="topnav" class="topnav">
        <a href="/">Home</a>
        <a href="#news">News</a>
        <a href="#contact">Contact</a>
        <a href="#about">About</a>
        <a class="active" href ="/spotify-api">Spotify</a>
        <a href ="/compsci">Computer Science</a> 
        <a href ="/math">Mathematics</a> 
        <a href ="/physics">Physics</a>
      </div>

<script>

    function updateCurrentSong(){

        $(document).ready(function() {

            $.getJSON('/spotify-api/currentSong', function(data) {
                //console.log(data); 
                var songHeader = document.getElementById("CurrentSongHeader");
                //console.log(songHeader)
                songHeader.innerHTML = (data['item'])['name']

                var CurrentlyPlayingAlbumCover = document.getElementById("CurrentlyPlayingAlbumCover");
                //console.log(CurrentlyPlayingAlbumCover);
                var albumSrc = ((((data['item'])['album'])['images'])[0])['url']
                
                CurrentlyPlayingAlbumCover.src = albumSrc

                $.getJSON('/spotify-api/listens', function(listens) {

                    console.log(listens);

                    var item = data['item'];

                    var songName =  item['name'];

                    //Make sure to iterate here to add all artists here
                    var artists = item['artists'];

                    var artistName = (artists[0])['name'];
                    var albumName = (item['album'])['name'];


                    var artistListens = (listens[artistName])['listens'];

                    var albumListens = ((listens[artistName])[albumName])['listens'];

                    var songListens = ((listens[artistName])[albumName])[songName];
                    

                    console.log(songListens);

                    var songListensEle = document.getElementById("SongListens");
                    var albumListensEle = document.getElementById("AlbumListens");
                    var artistListensEle = document.getElementById("ArtistListens");

                    songListensEle.innerHTML = songListens;
                    albumListensEle.innerHTML = albumListens;
                    artistListensEle.innerHTML = artistListens;

                    var albumNameEle = document.getElementById("AlbumName");
                    var artistNameEle = document.getElementById("ArtistName");

                    //console.log(albumNameEle);

                    //console.log(albumName);
                    albumNameEle.innerHTML = albumName;
                    artistNameEle.innerHTML = artistName;

                });

                
            });



            //$.getJSON('/tokens.json', function(data) {
                //console.log(data); 
                //var songHeader = document.getElementById("CurrentSongHeader");
                //console.log(songHeader)
                //songHeader.innerHTML = (data['item'])['name']

                //console.log("Hi")
                //myItems = data.items;
                //console.log(myItems);
            //});



        });
        //console.log(queryData);
    }


    updateCurrentSong()


   setInterval(updateCurrentSong, 1000);
</script>



<div class="main">
    <img src="" id="CurrentlyPlayingAlbumCover" width="640" height="640">
        

    <div class="main">

        <div class="main">

            <div>
                <h1 id="CurrentSongHeader"></h1>
                <h1 id="AlbumName"></h1>
                <h1 id="ArtistName"></h1>
            </div>

            <div>
                <h1>:   Total Song Listens</h1>
                <h1>:   Total Album Listens</h1>
                <h1>:   Total Artist Listens</h1>
            </div>

            
            <div class="container">
                <h1 id="SongListens"></h1>
                <h1 id="AlbumListens"></h1>
                <h1 id="ArtistListens"></h1>
            </div>
    
        </div>
    </div>
    






</body>

</html>