<!DOCTYPE html>
<html>
<head>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
    <link rel="stylesheet" href="../css/main.css">
<style>
    .column {
        float: left;
        width: 50%;
        margin-bottom: 16px;
        padding: 0 8px;
      }


</style>



</head>
<body>

    <div id="topnav" class="topnav">
        <a href="/">Home</a>
        <a href="#news">News</a>
        <a href="#contact">Contact</a>
        <a href="#about">About</a>
        <a class="active" href ="/spotify-api">Spotify</a>
      </div>

<script>

    function updateCurrentSong(){

        $(document).ready(function() {

            $.getJSON('/spotify-api/currentSong', function(data) {
                //console.log(data); 
                var songHeader = document.getElementById("CurrentSongHeader");
                //console.log(songHeader)
                songHeader.innerHTML = (data['item'])['name']

                var CurrentlyPlayingAlbumCover = document.getElementById("CurrentlyPlayingAlbumCover");
                //console.log(CurrentlyPlayingAlbumCover);
                var albumSrc = ((((data['item'])['album'])['images'])[0])['url']
                
                CurrentlyPlayingAlbumCover.src = albumSrc

                $.getJSON('/spotify-api/listens', function(listens) {

                    console.log(listens);

                    var item = data['item'];

                    var songName =  item['name'];

                    //Make sure to iterate here to add all artists here
                    var artists = item['artists'];

                    var artistName = (artists[0])['name'];
                    var albumName = (item['album'])['name'];


                    var artistListens = (listens[artistName])['listens'];

                    var albumListens = ((listens[artistName])[albumName])['listens'];

                    var songListens = ((listens[artistName])[albumName])[songName];
                    

                    console.log(songListens);

                    var songListensEle = document.getElementById("SongListens");
                    var albumListensEle = document.getElementById("AlbumListens");
                    var artistListensEle = document.getElementById("ArtistListens");

                    songListensEle.innerHTML = songListens;
                    albumListensEle.innerHTML = albumListens;
                    artistListensEle.innerHTML = artistListens;


                });

                
            });



            //$.getJSON('/tokens.json', function(data) {
                //console.log(data); 
                //var songHeader = document.getElementById("CurrentSongHeader");
                //console.log(songHeader)
                //songHeader.innerHTML = (data['item'])['name']

                //console.log("Hi")
                //myItems = data.items;
                //console.log(myItems);
            //});



        });
        //console.log(queryData);
    }


    updateCurrentSong()


   setInterval(updateCurrentSong, 1000);
</script>

<div class="container">
    <div class="column" width="640" height="640">
        
        <img src="" id="CurrentlyPlayingAlbumCover" width="640" height="640">
    
    </div>
    <div class="column">
        <h1>
            Spotify Stat Tracker
        </h1>
        <h1 id="CurrentSongHeader">
        </h1>
        <div>
            <p>Total Song Listens</p>
            <p id="SongListens"></p>
        </div>
        <div>
            <p>Total Album Listens</p>
            <p id="AlbumListens"></p>
        </div>
        <div>
            <p>Total Artist Listens</p>
            <p id="ArtistListens"></p>
        </div>
    </div>
</div>



<div>








</div>




</body>

</html>