<!DOCTYPE html>
<html>
<head>
<title>Rippy - Mathematics</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel='stylesheet' href='https://fonts.googleapis.com/css?family=Roboto'>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link rel="stylesheet" href="../css/main.css">
<style>
html,body,h1,h2,h3,h4,h5,h6 {font-family: "Roboto", sans-serif}
</style>
</head>
<body class="w3-light-grey">


  <div id="topnav" class="topnav">
    <a href="/">Home</a>
    <a href="#news">News</a>
    <a href="#contact">Contact</a>
    <a href="#about">About</a>
    <a href ="/spotify-api">Spotify</a>
    <a href ="/compsci">Computer Science</a> 
    <a class="active" href ="/math">Mathematics</a> 
    <a href ="/physics">Physics</a>    
    <!-- <a href="/music">Music</a> -->
  </div>
<!-- Page Container -->
<div class="w3-content w3-margin-top" style="max-width:1400px;">

  <!-- The Grid -->
  <div class="w3-row-padding">
  
    <!-- Left Column -->
    <div class="w3-third">
    
      <div class="w3-white w3-text-grey w3-card-4">
        <div class="w3-display-container">
          <img src="../images/mikuheadshot.png" style="width:100%" alt="Avatar">
          <div class="w3-display-bottomleft w3-container w3-text-black">
          </div>
        </div>
        <div class="w3-container">
          <h2>Hatsune Miku</h2>
          <p><i class="fa fa-briefcase fa-fw w3-margin-right w3-large w3-text-teal"></i>Mathematician</p>
          <p><i class="fa fa-home fa-fw w3-margin-right w3-large w3-text-teal"></i>Sarasota, FL</p>
          <p><i class="fa fa-envelope fa-fw w3-margin-right w3-large w3-text-teal"></i>arippy@andrew.cmu.edu</p>
          <p><i class="fa fa-phone fa-fw w3-margin-right w3-large w3-text-teal"></i>651-272-0025</p>
          <hr>

          <p class="w3-large"><b><i class="fa fa-asterisk fa-fw w3-margin-right w3-text-teal"></i>Classes</b></p>
          
          <p>Partial Differential Equations</p>
          <p>Stochastic Simulation</p>
          <p>Topology</p>
          <p>Numerical Analysis</p>
          <p>Combinatorics</p>
          <p>Abstract Algebra</p>
          <p>Linear Algebra</p>
          <p>Ordinary Differential Equations</p>
          <p>Complex Analysis</p>
          <p>Multivariable Calculus</p>
          <p>Calculus I/II</p>





          <p class="w3-large"><b><i class="fa fa-asterisk fa-fw w3-margin-right w3-text-teal"></i>Skills</b></p>
          <p>Mathematica</p>
          <p>Applied Mathematics</p>
          <p>Theoretical Mathematics</p>    
          <!-- <br> -->

          <p class="w3-large w3-text-theme"><b><i class="fa fa-globe fa-fw w3-margin-right w3-text-teal"></i>Languages</b></p>
          <p>English</p>
          <p>Spanish</p>
          <br>
        </div>
      </div><br>

      <div class="w3-white w3-text-grey w3-card-4">

        <div class="w3-container">
          <p>NOTE THESE ARE WITHOUT CORRECTIONS</p>
          <p class="w3-large"><b><i class="fa fa-asterisk fa-fw w3-margin-right w3-text-teal"></i>Partial Differential Equations</b></p>
          <a href="../projects/mathematics/homework/PDE_PS_1.pdf" download>Problem Set 1</a>
          <a href="../projects/mathematics/homework/PDE_PS_2.pdf" download>Problem Set 2</a>
          <a href="../projects/mathematics/homework/PDE_PS_3.pdf" download>Problem Set 3</a>
          <a href="../projects/mathematics/homework/PDE_PS_4.pdf" download>Problem Set 4</a>
          <a href="../projects/mathematics/homework/PDE_PS_5.pdf" download>Problem Set 5</a>
          <a href="../projects/mathematics/homework/PDE_PS_6.pdf" download>Problem Set 6</a>
          <a href="../projects/mathematics/homework/PDE_PS_7.pdf" download>Problem Set 7</a>
          <a href="../projects/mathematics/homework/PDE_PS_8.pdf" download>Problem Set 8</a>

          <p class="w3-large"><b><i class="fa fa-asterisk fa-fw w3-margin-right w3-text-teal"></i>Topology</b></p>
          
          <a href="../projects/mathematics/homework/Topology_PS_1.pdf" download>Problem Set 1</a>
          <a href="../projects/mathematics/homework/Topology_PS_2.pdf" download>Problem Set 2</a>
          <a href="../projects/mathematics/homework/Topology_PS_3.pdf" download>Problem Set 3</a>
          <a href="../projects/mathematics/homework/Topology_PS_4.pdf" download>Problem Set 4</a>
          <a href="../projects/mathematics/homework/Topology_PS_5.pdf" download>Problem Set 5</a>
          <a href="../projects/mathematics/homework/Topology_PS_6.pdf" download>Problem Set 6</a>
          <a href="../projects/mathematics/homework/Topology_Take_Home.pdf" download>Take Home Exam</a>
          <a href="../projects/mathematics/homework/Topology_Final.pdf" download>Final Exam</a>


          <p class="w3-large"><b><i class="fa fa-asterisk fa-fw w3-margin-right w3-text-teal"></i>Numerical Analysis</b></p>
          
          <a href="../projects/mathematics/homework/NUM_AN_PS_0.pdf" download>Problem Set 0</a>
          <a href="../projects/mathematics/homework/NUM_AN_PS_1.pdf" download>Problem Set 1</a>
          <a href="../projects/mathematics/homework/NUM_AN_PS_2.pdf" download>Problem Set 2</a>
          <a href="../projects/mathematics/homework/NUM_AN_PS_3.pdf" download>Problem Set 3</a>
          <a href="../projects/mathematics/homework/NUM_AN_PS_4.pdf" download>Problem Set 4</a>
          <a href="../projects/mathematics/homework/NUM_AN_PS_5.pdf" download>Problem Set 5</a>



          <p class="w3-large"><b><i class="fa fa-asterisk fa-fw w3-margin-right w3-text-teal"></i>Abstract Algebra</b></p>

          <a href="../projects/mathematics/homework/Abstract_Problem_Set_1.pdf" download>Problem Set 1</a>
          <a href="../projects/mathematics/homework/Abstract_Problem_Set_2.pdf" download>Problem Set 2</a>
          <a href="../projects/mathematics/homework/Abstract_Problem_Set_3.pdf" download>Problem Set 3</a>
          <a href="../projects/mathematics/homework/Abstract_Problem_Set_4.pdf" download>Problem Set 4</a>
          <a href="../projects/mathematics/homework/Abstract_Problem_Set_5.pdf" download>Problem Set 5</a>
          <a href="../projects/mathematics/homework/Abstract_Problem_Set_6.pdf" download>Problem Set 6</a>


          <p class="w3-large"><b><i class="fa fa-asterisk fa-fw w3-margin-right w3-text-teal"></i>Complex Analysis</b></p>

          <a href="../projects/mathematics/homework/Complex_PS_1.pdf" download>Problem Set 1</a>
          <a href="../projects/mathematics/homework/Complex_PS_2.pdf" download>Problem Set 2</a>
          <a href="../projects/mathematics/homework/Complex_PS_3.pdf" download>Problem Set 3</a>
          <a href="../projects/mathematics/homework/Complex_PS_4.pdf" download>Problem Set 4</a>
          <a href="../projects/mathematics/homework/Complex_PS_5.pdf" download>Problem Set 5</a>
          <a href="../projects/mathematics/homework/Complex_Handout.pdf" download>Cheat Sheet</a>
          <a href="../projects/mathematics/homework/Hyperbolic_Complex_Functions.pdf" download>Class Presentation</a>

          <p class="w3-large"><b><i class="fa fa-asterisk fa-fw w3-margin-right w3-text-teal"></i>Combinatorics</b></p>

          <a href="../projects/mathematics/homework/Combinatorics_PS_1.pdf" download>Problem Set 1</a>
          <a href="../projects/mathematics/homework/Combinatorics_PS_2.pdf" download>Problem Set 2</a>
          <a href="../projects/mathematics/homework/Combinatorics_PS_3.pdf" download>Problem Set 3</a>
          <a href="../projects/mathematics/homework/Combinatorics_PS_4.pdf" download>Problem Set 4</a>
          <a href="../projects/mathematics/homework/Combinatorics_PS_5.pdf" download>Problem Set 5</a>
          <a href="../projects/mathematics/homework/Combinatorics_PS_6.pdf" download>Problem Set 6</a>
          <a href="../projects/mathematics/homework/Combo_Reflection.pdf" download>Reflection</a>



          <br>
        </div>
      </div><br>
    <!-- End Left Column -->
    </div>




    
    <!-- Right Column -->
    <div class="w3-twothird">
    
      <div class="w3-container w3-card w3-white w3-margin-bottom">
        <h2 class="w3-text-grey w3-padding-16"><i class="fa fa-suitcase fa-fw w3-margin-right w3-xxlarge w3-text-teal"></i>Work Experience</h2>
        <div class="w3-container">

          <!-- <span class="w3-tag w3-teal w3-round">Current</span> -->

          <h5 class="w3-opacity"><b>Mathematics QSC Tutor / Wabash College</b></h5>
          <h6 class="w3-text-teal"><i class="fa fa-calendar fa-fw w3-margin-right"></i>Aug 2021 - May 2022</h6>
          <p>Worked as a Quantative Skils Center Tutor, tutoring students in Mathematics, mainly calculus.</p>
          <hr>
        </div>

        <div class="w3-container">
          <h5 class="w3-opacity"><b>Supplemental Instruction Leader / Wabash College</b></h5>
          <h6 class="w3-text-teal"><i class="fa fa-calendar fa-fw w3-margin-right"></i>Aug 2020 - Dec 2020</h6>
          <p>Worked as a supplemental instructio leader, made lesson plans, taught SI lessons, and tutored students in Calculus.</p><br>
        </div>

      </div>

      <div class="w3-container w3-card w3-white">
        <h2 class="w3-text-grey w3-padding-16"><i class="fa fa-certificate fa-fw w3-margin-right w3-xxlarge w3-text-teal"></i>Education</h2>
        <div class="w3-container">
          <h5 class="w3-opacity"><b>Carnegie Mellon University</b></h5>
          <h6 class="w3-text-teal"><i class="fa fa-calendar fa-fw w3-margin-right"></i>2022 - 2025</h6>
          <p>Master Degree</p>
          <hr>
        </div>
        <div class="w3-container">
          <h5 class="w3-opacity"><b>Wabash College Computer Science, Physics, Math Triple Major</b></h5>
          <h6 class="w3-text-teal"><i class="fa fa-calendar fa-fw w3-margin-right"></i>2018 - 2022</h6>
          <p>Bachelor of Arts Degree</p>
          <p>Summa Cum Laude</p>
          <p>Phi Beta Kappa</p>
          <p>Sigma Pi Sigma</p>
          
          <br>
        </div>
      </div>
      
      <br>

      <div class="w3-container w3-card w3-white">
        <h2 class="w3-text-grey w3-padding-16"><i class="fa fa-certificate fa-fw w3-margin-right w3-xxlarge w3-text-teal"></i>Papers</h2>
        <div class="w3-container">
          <h5 class="w3-opacity"><b>Toplogy Configuration Spaces</b></h5>
          <h6 class="w3-text-teal"><i class="fa fa-calendar fa-fw w3-margin-right"></i>May 2020</h6>
          <p>A configuration space is almost synonymous with state spaces and phase spaces in studies
            within physics. In physics, these spaces are used to describe the state of a whole system
            as a “single point in a high-dimensional space”. In mathematics specifically, these spaces
            are used to describe assignments of a collection of points to positions in a topological space.
            A state space is the set of all possible configurations of a system, with incredibly useful
            applications within robotics, algorithm analysis and artificial intelligence. A phase space is
            a space in which all possible states of a system are represented at once, with each possible
            state corresponding to one unique point in the phase space. For mechanical systems, the
            phase space usually is made of all possible values of position and momentum variables.</p>

          <a href="../projects/mathematics/papers/topology_config_spaces.pdf" download>Topology Configuration Spaces</a>
          <hr>
        </div>

        <div class="w3-container">
          <h5 class="w3-opacity"><b>Hockey Stochastic Simulation Project</b></h5>
          <h6 class="w3-text-teal"><i class="fa fa-calendar fa-fw w3-margin-right"></i>May 2020</h6>
          <p>There are currently 31 Hockey teams across two conferences, split into a total of 4 divisions.
            The Eastern Conference is split into the Atlantic Division and the Metropolitan Division,
            and the Western Conference is split into the Central Division and the Pacific Division. Each
            Division has its own sub-rankings, and each conference has two wildcards. A wildcard is a
            team within a conference with the best record that did not finish top 3 in their division.
            For the Stanley Cup playoffs, the brackets are organized in this manner. Each match-up
            is the best of 7 games. For the Division Semi-finals; 1st vs. Wildcard and 2nd vs. 3rd.
            The winners of these two match-ups play against each each other in the Division Finals,
            resulting in a division winner. The two division winners per conference play against each
            other in the Conference Finals, resulting in a conference winner. Finally, the two conference
            winners go head to head in the Finals for the glory of winning the Stanley Cup. For a visual
            representation, see Fig. 1. Due to the COVID-19 outbreak, the season was cut short, by
            about 11 games per team. If the teams went into the playoffs right when COVID-19 hit,
            these would have been the match-ups.</p>

          <a href="../projects/mathematics/papers/ss_hockey_sim.pdf" download>Hockey Simulation Project</a>
          <hr>
        </div>

        <div class="w3-container">
          <h5 class="w3-opacity"><b>Infectious Disease Model Project</b></h5>
          <h6 class="w3-text-teal"><i class="fa fa-calendar fa-fw w3-margin-right"></i>May 2020</h6>
          <p>In this project, we will study the COVID-19 and model the baseline predictions along with 4
            different scenarios. The goal of our project is to find the most effective intervention and to
            analyze different interventions.
            </p>

          <a href="../projects/mathematics/papers/ss_infect_disease.pdf" download>Infectious Disease Model Project</a>
          <hr>
        </div>
        <div class="w3-container">
          <h5 class="w3-opacity"><b>Inventory Management Project</b></h5>
          <h6 class="w3-text-teal"><i class="fa fa-calendar fa-fw w3-margin-right"></i>March 2020</h6>
          <p>We will be modeling a inventory management system, where we are selling a product. We
            can hold a specific number of product inventory, order inventory, and it will take place over
            a specific time interval. We will be using the model to find our maximal average net worth
            over a specific time interval. We will have a ’timeline’ of processes, updating at discreet
            events, like ordering inventory or a customer buying inventory</p>

          <a href="../projects/mathematics/papers/ss_inv_management.pdf" download>Inventory Management Project</a>
          <hr>
        </div>
        <div class="w3-container">
          <h5 class="w3-opacity"><b>Consulting Project</b></h5>
          <h6 class="w3-text-teal"><i class="fa fa-calendar fa-fw w3-margin-right"></i>March 2020</h6>
          <p>There are a number of ways we can reduce the waiting times of customers. One of them is
            to open a new line for customers, so this may reduce the length of the drive-thru line. There
            are a number of ways this can be implemented; many restaurants currently have a drive-thru
            and a indoor option, so we will model our new line to be inside.
            The primary benefit of adding this inside line is that it will reduce waiting time by
            allowing shorter lines for the same number of arrivals. Under the current set-up, if four
            customers arrive, they all have to line up in the same line, the drive-thru. The fourth person
            would have to wait for three people to be served before finally getting their service. With an
            inside line, these customers can theoretically split themselves up, lowering overall customer
            wait time. The additional line may also reduce the number of customers lost, since having
            a second line will reduce how often the drive-thru line reaches its limit.
            </p>

          <a href="../projects/mathematics/papers/ss_consult_writeup.pdf" download>Consulting Project</a>
          <hr>
        </div>
        <div class="w3-container">
          <h5 class="w3-opacity"><b>Random Dice Sequences Project</b></h5>
          <h6 class="w3-text-teal"><i class="fa fa-calendar fa-fw w3-margin-right"></i>Feb 2020</h6>
          <p>For this version of the game, we imagine rolling a 6 sided die until the first time the value
            decreases. That is, the following roll must be greater than or equal to the previous roll. How
            many rolls would we expect to get?</p>

          <a href="../projects/mathematics/papers/ss_dice_project.pdf" download>Dice Simulation Project</a>
          <hr>
        </div>

        <div class="w3-container">
          <h5 class="w3-opacity"><b>Rubics Cube </b></h5>
          <h6 class="w3-text-teal"><i class="fa fa-calendar fa-fw w3-margin-right"></i>April 2019</h6>
          <p>The Rubik’s Cube is a puzzle invented in 1974 by Hungarian sculptor and architecture
            professor Ern˝o Rubik. Originally the Rubik’s Cube was referred to as the Magic Cube,
            and the puzzle was licensed by Rubik to be sold by Ideal Toy Corp in 1980, and won the
            German ‘Game of the Year’ award for Best Puzzle that same year. As of January 2009, it
            the world’s top-selling puzzle game, with over 350 million cubes sold worldwide. Each of the
            six faces Rubik’s Cube are covered by nine stickers, each of one of six solid colors: white,
            red, blue, orange, green, and yellow. In current models, white is opposite yellow, blue is
            opposite green, and orange is opposite red, and the red, white and blue are arranged in that
            order in a clockwise arrangement. An internal pivot mechanism enables each face to turn
            independently, allowing one to scramble the cube. For the puzzle to be solved, each face
            must be returned to have only one solid color. Similar puzzles have now been made with
            various numbers of sides, dimensions, and stickers. The Rubik’s Cube reached its height
            of mainstream popularity in the 1980s, however it is still widely known and used. Many
            ‘speedcubers’ continue to practice the cube and similar puzzles by competing for the fastest
            times in various categories. Since 2003, the World Cube Association, (the Rubik’s Cube’s
            international governing body) has organized competitions worldwide and recognizes world
            records.</p>

          <a href="../projects/mathematics/papers/rubics_cube_paper.pdf" download>Rubics Cube Paper</a>
          <hr>
        </div>

      </div>

    <!-- End Right Column -->
    </div>
    
  <!-- End Grid -->
  </div>
  
  <!-- End Page Container -->
</div>

<footer class="w3-container w3-teal w3-center w3-margin-top">
  <p>Find me on social media.</p>
  <i class="fa fa-facebook-official w3-hover-opacity"></i>
  <a href="https://www.facebook.com/andrew.rippy.3">Facebook</a>

  <i class="fa fa-instagram w3-hover-opacity" ></i>
  <a href="https://www.instagram.com/andrew_rippy/">Insta</a>
  <i class="fa fa-snapchat w3-hover-opacity"></i>
  <a>andrewrippy</a>
  <!-- <i class="fa fa-pinterest-p w3-hover-opacity"></i> -->
  <!-- <i class="fa fa-twitter w3-hover-opacity"></i> -->
  <i class="fa fa-linkedin w3-hover-opacity"></i>
  <a href="https://www.linkedin.com/in/andrewrippy">Linkedin</a>
  <p>Powered by <a href="https://www.w3schools.com/w3css/default.asp" target="_blank">w3.css</a></p>
</footer>

</body>
</html>