<!DOCTYPE html>
<html>
<head>
<title>Rippy - Physics</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel='stylesheet' href='https://fonts.googleapis.com/css?family=Roboto'>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link rel="stylesheet" href="../css/main.css">
<style>
html,body,h1,h2,h3,h4,h5,h6 {font-family: "Roboto", sans-serif}
</style>
</head>
<body class="w3-light-grey">


  <div id="topnav" class="topnav">
    <a href="/">Home</a>
    <a href="#news">News</a>
    <a href="#contact">Contact</a>
    <a href="#about">About</a>
    <a href ="/spotify-api">Spotify</a>
    <a  href ="/compsci">Computer Science</a> 
    <a href ="/math">Mathematics</a> 
    <a class="active" href ="/physics">Physics</a>    
    <!-- <a href="/music">Music</a> -->
  </div>
<!-- Page Container -->
<div class="w3-content w3-margin-top" style="max-width:1400px;">

  <!-- The Grid -->
  <div class="w3-row-padding">
  
    <!-- Left Column -->
    <div class="w3-third">
    
      <div class="w3-white w3-text-grey w3-card-4">
        <div class="w3-display-container">
          <img src="../images/mikuheadshot.png" style="width:100%" alt="Avatar">
          <div class="w3-display-bottomleft w3-container w3-text-black">
          </div>
        </div>
        <div class="w3-container">
          <h2>Hatsune Miku</h2>
          <p><i class="fa fa-briefcase fa-fw w3-margin-right w3-large w3-text-teal"></i>Computer Scientist</p>
          <p><i class="fa fa-home fa-fw w3-margin-right w3-large w3-text-teal"></i>Sarasota, FL</p>
          <p><i class="fa fa-envelope fa-fw w3-margin-right w3-large w3-text-teal"></i>arippy@andrew.cmu.edu</p>
          <p><i class="fa fa-phone fa-fw w3-margin-right w3-large w3-text-teal"></i>651-272-0025</p>
          <hr>

          <p class="w3-large"><b><i class="fa fa-asterisk fa-fw w3-margin-right w3-text-teal"></i>Coding Languages</b></p>
          <p>Classical Mechanics</p>
          <p>Electrodynamics</p>
          <p>Quantum Mechanics</p>
          <p>Quantum Computing</p>
          <p>Thermodynamics</p>
          <p>Non-Linear Dynamics</p>
          <p>Electronics</p>
          <p>Electro-Magnetostatics</p>










          <p class="w3-large"><b><i class="fa fa-asterisk fa-fw w3-margin-right w3-text-teal"></i>Skills</b></p>
          <p>Data Taking</p>
          <p>Data Manipulation</p>
          <p>Mathematica</p>
          <p>Logger Pro</p>



          <br>
        </div>
      </div>
      <br>
      <div class="w3-white w3-text-grey w3-card-4">

        <div class="w3-container">
          

          <p class="w3-large"><b><i class="fa fa-asterisk fa-fw w3-margin-right w3-text-teal"></i>Electronics</b></p>
          <a href="../projects/physics/homework/Electronics_Lab_1.pdf" download>Electronics Lab 1</a>
          <a href="../projects/physics/homework/Electronics_Lab_2.pdf" download>Electronics Lab 2</a>
          <a href="../projects/physics/homework/Electronics_Lab_3.pdf" download>Electronics Lab 3</a>
          <a href="../projects/physics/homework/Electronics_Lab_4.pdf" download>Electronics Lab 4</a>
          <a href="../projects/physics/homework/Electronics_Lab_5.pdf" download>Electronics Lab 5</a>
          <a href="../projects/physics/homework/Electronics_Lab_6.pdf" download>Electronics Lab 6</a>
          <a href="../projects/physics/homework/Exam_2_Electronics_Study_Guide.pdf" download>Electronics Study Guide</a>

          <p class="w3-large"><b><i class="fa fa-asterisk fa-fw w3-margin-right w3-text-teal"></i>PHY 209 - 210 Labs</b></p>
          <a href="../projects/physics/homework/Laser_Lab.pdf" download>Laser Lab</a>
          <a href="../projects/physics/homework/Muon_Lab.pdf" download>Muon Lab</a>
          <a href="../projects/physics/homework/Frank_Hertz.pdf" download>Frank Hertz</a>
          <a href="../projects/physics/homework/Bragg.pdf" download>Bragg</a>
          <a href="../projects/physics/homework/Millikan_Oil_Drop.pdf" download>Millikan Oil Drop</a>
          <a href="../projects/physics/homework/Charge_to_Mass_Ratio.pdf" download>Charge To Mass Ratio</a>
          <a href="../projects/physics/homework/Electron_Diffraction.pdf" download>Electron Diffraction</a>


          

        </div>
      </div>
    <!-- End Left Column -->
    </div>

    <!-- Right Column -->
    <div class="w3-twothird">
    
      <div class="w3-container w3-card w3-white w3-margin-bottom">
        <h2 class="w3-text-grey w3-padding-16"><i class="fa fa-suitcase fa-fw w3-margin-right w3-xxlarge w3-text-teal"></i>Work Experience</h2>
        <div class="w3-container">

          <!-- <span class="w3-tag w3-teal w3-round">Current</span> -->

          <h5 class="w3-opacity"><b>MoNA Collaboration REU / Wabash College </b></h5>
          <h6 class="w3-text-teal"><i class="fa fa-calendar fa-fw w3-margin-right"></i>May 2020 - Aug 2020</h6>
          <p> Built an accurate ground-up simulation of a Modular Neutron Array. Functioned as an accessible tool for the collaboration to verify and compare against traditionally used software. </p>
          <hr>
        </div>




      </div>

      <div class="w3-container w3-card w3-white">
        <h2 class="w3-text-grey w3-padding-16"><i class="fa fa-certificate fa-fw w3-margin-right w3-xxlarge w3-text-teal"></i>Education</h2>
        <div class="w3-container">
          <h5 class="w3-opacity"><b>Carnegie Mellon University</b></h5>
          <h6 class="w3-text-teal"><i class="fa fa-calendar fa-fw w3-margin-right"></i>2022 - 2025</h6>
          <p>Master Degree</p>
          <hr>
        </div>
        <div class="w3-container">
          <h5 class="w3-opacity"><b>Wabash College Computer Science, Physics, Math Triple Major</b></h5>
          <h6 class="w3-text-teal"><i class="fa fa-calendar fa-fw w3-margin-right"></i>2018 - 2022</h6>
          <p>Bachelor of Arts Degree</p>
          <p>Summa Cum Laude</p>
          <p>Phi Beta Kappa</p>
          <p>Sigma Pi Sigma</p>
          <br>
        </div>
      </div>

      <br>

      <div class="w3-container w3-card w3-white">
        <h2 class="w3-text-grey w3-padding-16"><i class="fa fa-certificate fa-fw w3-margin-right w3-xxlarge w3-text-teal"></i>Papers</h2>

        <div class="w3-container">
          <h5 class="w3-opacity"><b>Magnetic Levitator Arduino Project</b></h5>
          <h6 class="w3-text-teal"><i class="fa fa-calendar fa-fw w3-margin-right"></i>May 2022</h6>
          <p>This project was an endeavor to explore what we had learned over the course of our semester
            in Electronics, by applying our knowledge in an exciting way. As the title of this report
            suggests, I created a magnetic levitator using the Arduino to control it. I utilized my
            knowledge of op-amps, DAC’s, and transistors, in addition to my coding knowledge to create
            the levitator. I will go into the specifics of the circuit in my Model section, in addition to
            the idea behind the PID.</p>

          <a href="../projects/physics/papers/Electronics_Final_Project.pdf" download>Magnetic Levitator Project</a>
          <hr>
        </div>


        <div class="w3-container">
          <h5 class="w3-opacity"><b>Electromagnetic Radiation</b></h5>
          <h6 class="w3-text-teal"><i class="fa fa-calendar fa-fw w3-margin-right"></i>May 2020</h6>
          <p>This paper will endeavor to give a explanation of what electromagnetic radiation is, how it is
            created, the properties it has, and a few of the applications it can be used for. Specifically, this
            will focus on dipole radiation, how it is created, and its application through the dipole antenna.</p>

          <a href="../projects/physics/papers/Physics_Electromagnetic_Radiation.pdf" download>Electromagnetic Radiation</a>
          <hr>
        </div>

        <div class="w3-container">
          <h5 class="w3-opacity"><b>Toplogy Configuration Spaces</b></h5>
          <h6 class="w3-text-teal"><i class="fa fa-calendar fa-fw w3-margin-right"></i>May 2020</h6>
          <p>This write-up will focus on the dynamic system of the double pendulum. Specifically, the non-ideal double pendulum, which includes the moments of inertia of both
            arms, but does not include friction. The double pendulum is an oscillating mechanical
            system that is considered to be a chaotic system. The behavior of the system is quite
            complicated, but can be explained in reasonably simplistic terms through the equations of motion for both arms. There does not exist any analytical solutions to the
            double pendulum system, so we must rely on numerical solutions to model the motion
            of the system, using the derived equations of motion. As such, a simulation for the
            double pendulum was created to exemplify the motion of the double pendulum in a
            visual manner. In addition to the simulation, a real-life version of the double pendulum
            was created in order to compare its observed motion against the simulated predicted
            motion.</p>

          <a href="../projects/physics/papers/Double_Pendulum__AdLab_.pdf" download>Double Pendulum</a>
          <hr>
        </div>





      </div>
    <!-- End Right Column -->
    </div>
    
  <!-- End Grid -->
  </div>
  
  <!-- End Page Container -->
</div>

<footer class="w3-container w3-teal w3-center w3-margin-top">
  <p>Find me on social media.</p>
  <i class="fa fa-facebook-official w3-hover-opacity"></i>
  <a href="https://www.facebook.com/andrew.rippy.3">Facebook</a>

  <i class="fa fa-instagram w3-hover-opacity" ></i>
  <a href="https://www.instagram.com/andrew_rippy/">Insta</a>
  <i class="fa fa-snapchat w3-hover-opacity"></i>
  <a>andrewrippy</a>
  <!-- <i class="fa fa-pinterest-p w3-hover-opacity"></i> -->
  <!-- <i class="fa fa-twitter w3-hover-opacity"></i> -->
  <i class="fa fa-linkedin w3-hover-opacity"></i>
  <a href="https://www.linkedin.com/in/andrewrippy">Linkedin</a>
  <p>Powered by <a href="https://www.w3schools.com/w3css/default.asp" target="_blank">w3.css</a></p>
</footer>

</body>
</html>